.header {
    background-color: #3f51b5;
    
    .logo {
      flex-grow: 1;
      
      
      img {
        height: 40px;
        cursor: pointer;
      }
    }
  
    .header-section {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        font-size: small;
      }
  
      .search {
        position: relative;
        border-radius: 4px;
        background-color: white;
        margin-left: 8px;
        width: 100%;
        color: black;
  
        &:hover {
          background-color: white;
        }
  
        .searchIcon {
          padding: 0 16px;
          height: 100%;
          position: absolute;
          pointer-events: none;
          display: flex;
          align-items: center;
          justify-content: center;
        }
  
        .inputRoot {
          color: inherit;
        }
  
        .inputInput {
          padding: 8px 8px 8px 0;
          padding-left: calc(1em + 32px);
          transition: width 300ms;
          width: 100%;
          
          @media (min-width: 600px) {
            width: 20ch;
          }
        }
      }
    }
  }
  